<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" defaultHref="/tabs/tab2">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Tutors</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- List of Tutor Items -->
  <ion-list>
      <ion-item (click)="tutorSelected(tutor)" *ngFor="let tutor of tutors;">
        <ion-avatar slot="start">
          <img [src]="tutor.avatar">
        </ion-avatar>
        <ion-label>
          <h2>{{ tutor.firstname }} {{ tutor.lastname }}</h2>
          <h3>{{ tutor.sub }}</h3>
          <p>{{ tutor.moto }}</p>
        </ion-label>
      </ion-item>
    </ion-list>

</ion-content>
