.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
.time-and-date {
  max-width: 90px;
}
// .item-native .input-wrapper {
//   background-color: #ff7878;
//   border-top-right-radius: 40px;
//   border-bottom-right-radius: 40px;
//   margin: 3px;
//   margin-left: 3px;
//   padding-right: 10px;
//   margin-left: 0;
// }