<ion-header>
  <ion-toolbar>
    <ion-title>
      Schedules
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- List of Text Items -->
    <ion-list>
      <ion-item (click)="scheduleSelected(schedule)" *ngFor="let schedule of schedules;">
        <ion-label>
          <h3>{{ schedule.subject.name }}</h3>
          <p>{{ schedule.subject.sub }}</p>
        </ion-label>
        <ion-label style="float: right; text-align: right;">
          <h3>{{ schedule.starttime }}</h3>
          <p>{{ schedule.date }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
</ion-content>
