<ion-header>
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img [src]="user.avatar" />
    <ion-card-header>
      <ion-card-title>{{ user.firstname}} {{ user.lastname }}</ion-card-title>
      <ion-card-subtitle>{{ user.sub }}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      {{ user.moto }}<br>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
      <ion-list>
        <ion-item *ngFor="let credential of credentials;">
          <ion-label>
            <h3>{{ credential.name }}</h3>
            <p>{{ credential.sub }}</p>
          </ion-label>
        </ion-item>
      </ion-list>

    </ion-card-content>
  </ion-card>
</ion-content>
