<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start" defaultHref="/tabs/tab1">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end" (click)="cancelClicked()">
        <ion-button>Cancel</ion-button>
      </ion-buttons>
      <ion-title>Schedule</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-card>

    <!-- <img [src]="schedule.tutorInfo.avatar" /> -->
    
    <ion-list>
      <ion-item lines="none" (click)="viewTutor()">
        <ion-avatar slot="start">
          <img src="assets/avatar/avatar-finn.png">
        </ion-avatar>
        <ion-label>
          <h2>{{ schedule.tutorInfo.firstname }} {{ schedule.tutorInfo.lastname }}</h2>
          <h3>{{ schedule.tutorInfo.sub }}</h3>
          <p>{{ schedule.tutorInfo.moto }}</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-card-header>
      <p>{{ schedule.date }}</p>
      <p>{{ schedule.starttime }} - {{ schedule.endtime }}</p>
      
      <!-- <ion-card-subtitle>{{ schedule.starttime }} - {{ schedule.endtime }}</ion-card-subtitle> -->
      <ion-card-title>{{ schedule.subjectInfo.name }}</ion-card-title>
      <!-- <ion-card-subtitle>{{ schedule.date }}</ion-card-subtitle> -->
    </ion-card-header>
    <!-- <h3>{{ schedule.starttime }} - {{ schedule.endtime }}</h3> -->
    <!-- <p>{{ schedule.date }}</p> -->
    <ion-card-content>
      <ion-item lines="none">
        Location: <br>
        {{ schedule.location }}

      </ion-item>
      <br>
      <ion-item lines="none">
        {{ schedule.subjectInfo.sub }}
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Suspendisse vestibulum, quam eget tincidunt pellentesque, enim nibh ornare urna, 
        sed bibendum quam ligula in ipsum. Duis tempor, sapien eget viverra scelerisque, 
        ipsum ligula accumsan diam, tincidunt bibendum dui lacus eget sapien.
      </ion-item>
      
      
    </ion-card-content>
  </ion-card>
</ion-content>
