<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" defaultHref="/tabs/tab2">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end" (click)="goToNext()">
      <ion-button>Next</ion-button>
    </ion-buttons>
    <ion-title>Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <br>
    <ion-item>
      <ion-label>Start Time</ion-label>
      <!-- value="1990-02-19T position="floating"07:43Z" -->
      <ion-datetime display-format="h:mm A" picker-format="h:mm A" [min]="currentDateTime" [(ngModel)]="starttime"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Duration</ion-label>
      <ion-input inputmode="numeric" min="1" [(ngModel)]="duration" style="text-align: right;"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Date Schedule</ion-label>
      <ion-datetime min="minDate" max="2019-12-31" [(ngModel)]="date" ></ion-datetime>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-item>
      <ion-label position="floating">Street</ion-label>
      <ion-input [(ngModel)]="street"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Barangay</ion-label>
      <ion-input [(ngModel)]="barangay"></ion-input>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-item>
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input [(ngModel)]="phoneNo"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>


<!-- <ion-input placeholder="Notes" #name> -->
<!-- 
<ion-input placeholder="Id " #id>

</ion-input>

<ion-input placeholder="Subject id " #subjectId></ion-input>
<ion-button (click)="addSchedule(id.value, subjectId.value)">Add Schedule</ion-button>



<ul>
  <li (click)='removeSchedule(schedule.id)' *ngFor="let schedule of schedules$ | async">
    <a href="">{{ schedule.id }}</a>
  </li>
</ul> -->