<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" defaultHref="/tabs/tab2">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end" (click)="goToNext()">
      <ion-button>Next</ion-button>
    </ion-buttons>
    <ion-title>Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h5> course.name }}</h5>
  <p> course.sub }}</p>
<p>
create ionic time picker <br>
01:00 pm
create ionic date picker <br>
Saturday
</p>


<!-- <ion-input placeholder="Notes" #name> -->

<ion-input placeholder="Id " #id>

</ion-input>

<ion-input placeholder="Subject id " #subjectId></ion-input>
<ion-button (click)="addSchedule(id.value, subjectId.value)">Add Schedule</ion-button>



<ul>
  <li (click)='removeSchedule(schedule.id)' *ngFor="let schedule of schedules$ | async">
    <a href="">{{ schedule.id }}</a>
  </li>
</ul>
</ion-content>
